@font-face {
    font-family: arista;
    src: url(arista.ttf);
}

html {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  color: white;
}

.GE1,.GE3 {
  position: absolute;
}

.GE1 {
  height: 120px;
  top: 0px;
  right: 0px;
}

.GE3 {
  height: 250px;
  left: 20px;
  top:0px;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

span {
  color: rgb(253,235,52);
  font-weight: 600;
}

.Titel {
  font-family: arista;
  font-weight: 700;
  font-size:40px;
  margin-top: 10px;
}

.Subtit {
  font-weight: 300;
  margin-top: 5px;
  color: white;
}

.navibox {
  background-color: rgb(253,235,52);
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      font-variant: small-caps;
      font-size: 18px;
      color: black;
}

nav > a {
  color: black;
  text-decoration: none;
}

h4 {
  font-family: arista;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 50px;
}
.artistbox {
  width: 100%;
}

.imagebox2 {
  width: 100%;
  grid-area: "a";
  padding: 5px;
}

.imagebox3 {
  width: 100%;
  grid-area: "b";
  padding: 5px;
}

.imagebox4 {
  width: 100%;
  grid-area: "c";
  padding: 5px;
}

.imagebox5 {
  width: 100%;
  grid-area: "d";
  padding: 5px;
}

.imagebox2text {
  grid-area: "z";
}
.imagebox3text {
  grid-area: "y";
}
.imagebox4text {
  grid-area: "x";
}
.imagebox5text {
  grid-area: "w";
}

.imagebox2text,.imagebox3text,.imagebox4text,.imagebox5text  {
  will-change: 90%;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#footer {
  color: white;
  margin-top: 100px;
}

.copyright > p {
  color: white;
  text-align: center;
  font-size: 10px;
}

.containericons {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.iconboxt {
  height: 40px;
}

.iconboxf {
  height: 30px;
}

.iconboxi {
  height: 30px;
}

.iconboxe {
  height: 40px;
}

@media (min-width: 550px) {
      .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  "a z"
                              "y b"
                              "c x"
                              "w d";
      }
      .containericons {
        margin-left: 50px;
        margin-right: 50px;
      }

}

@media (min-width: 1150px) {
      .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .containericons {
        margin-left: 100px;
        margin-right: 100px;
      }
}
